<% if (posts.length > 0) { %>
<% for(var post of posts) { %>
<div class="card mt-4 mb-4">
    <img class="card-img-top" src="http://weblog.nabavi.dev/uploads/thumbnails/<%= post.thumbnail %>"
        alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title"><%= post.title %></h2>
        <p class="card-text text-justify"><%- truncate(post.body, 400) %></p>
        <a href="/post/<%= post.id %>" class="btn btn-primary">ادامه مطلب...</a>
    </div>
    <div class="card-footer text-muted">
        تاریخ پست: <%= formatDate(post.createdAt) %>
    </div>
</div>
<% } %>
<% } else { %>
<div class="m-5 text-center">
    <h1>هیچ پستی در پایگاه داده موجود نیست</h1>
</div>
<% } %>