<nav>
    <ul class="pagination justify-content-center">
        <% if (currentPage !== 1 && previousPage !== 1) { %>
        <li class="page-item">
            <a href="?page=1" class="page-link">
                <span aria-hidden="true">&laquo; اول</span>
            </a>
        </li>
        <% } %>
        <% if (hasPreviousPage) { %>
        <li class="page-item"><a href="?page=<%= previousPage %>" class="page-link"><%= previousPage %></a></li>
        <% } %>
        <li class="page-item active"><a href="?page=<%= currentPage %>" class="page-link"><%= currentPage %></a></li>
        <% if (hasNextPage) { %>
        <li class="page-item"><a href="?page=<%= nextPage %>" class="page-link"><%= nextPage %></a></li>
        <% } %>
        <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
        <li class="page-item"><a href="?page=<%= lastPage %>" class="page-link"><span aria-hidden="true">آخر
                    &raquo;</span></a></li>
        <% } %>
    </ul>
</nav>