<%- include("./includes/navbar.ejs") %>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="mt-4"><%= post.title %></h1>
            <p class="lead">
                نوشته شده توسط :
                <a href="#"><%= post.user.fullname %></a>
            </p>
            <hr>
            <p>تاریخ انتشار : <%= formatDate(post.createAt)%></p>
            <hr>
            <div class="text-center">
                <img class="img-fluid rounded" src="http://localhost:3000/uploads/thumbnails/<%= post.thumbnail %>"
                    alt="">
            </div>
            <hr>
            <p class="text-justify"><%- post.body %></p>
            <hr>
            <div class="card my-4">
                <h5 class="card-header">نظر خود را بنویسید:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            ثبت نظر
                        </button>
                    </form>
                </div>
            </div>
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="https://placehold.co/50x50/png" alt="">
                <div class="media-body">
                    <h5 class="mt-0">محمد</h5>
                    این یک نظر تست می باشد
                </div>
            </div>
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="https://placehold.co/50x50/png" alt="">
                <div class="media-body">
                    <h5 class="mt-0">محمد</h5>
                    نظر تست
                    <div class="media mt-4">
                        <img class="d-flex mr-3 rounded-circle" src="https://placehold.co/50x50/png" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">محمد</h5>
                            نظر تست
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./includes/footer.ejs') %>